@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  --color-primary: #000; /* Primary color */
  --color-primary-foreground: #ffffff; /* Foreground color for primary */
  --color-destructive: #ff3b30; /* Destructive action color */
  --color-destructive-foreground: #ffffff; /* Foreground for destructive */
  --color-background: #f9f9f9; /* Background color */
  --color-accent: #ffc107; /* Accent color */
  --color-accent-foreground: #000000; /* Accent foreground */
  --color-secondary: #34c759; /* Secondary color */
  --color-secondary-foreground: #ffffff; /* Foreground color for secondary */
  --color-input: #e0e0e0; /* Input field border color */
  --color-ring: #ff5722; /* Ring focus color */
  --color-ring-offset: #eeeeee; /* Ring offset */
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
